body {
  color: black;
}

.navbar-triptailor {
	background-color: #183152;
	border-radius: 0;
	margin-bottom: 15px;
}

.header-row {
	border-bottom: 1px solid #DEDEDE;
	padding: 15px 0;
}
.first-header {
	padding-bottom: 15px;
}
.col-label {
	display: table;
	height: 34px;
}
label {
	display: table-cell;
	vertical-align: middle;
	margin-bottom: 0;
	font-weight: normal;
}
.form-control {
	border: 1px solid black !important;
	border-radius: 0;
}
.submit {
	background-color: #ff9933;
	padding: 6px 12px;
	border: 1px solid #ff9933;
	color: white;
	border-radius: 4px;

	display: inline-block;
	vertical-align: middle;
	width: 100%;
	text-align: center;
}
.submit:hover {
	text-decoration: none;
	color: white;
}

.col-also {
	height: 31px;
	display: table;
}
.also-label {
	display: table-cell;
	vertical-align: middle;
}
.tag {
	display: inline-block;
	border: 1px solid #B8B8B8;
	background-color: #DEDEDE;
	padding: 5px 10px;
	margin-bottom: 5px;
}
.results-number-col {
	display: table;
	height: 55px;
}
.results-number-container {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}
.results-number-container p {
	margin-bottom: 0;
}
